Assets/Scripts/MazeCell.cs
[Llibraries]
Temp/
Library/
Obj/
Logs/
MemoryCaptures/
Assets/Animations/
Assets/Packs/
Assets/Model/
Assets/Materials/
Assets/Prefabs/
Assets/Scenes/
Assets/TextMesh Pro/
Packages/

[Exclusiones específicas de Unity]
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pidb.meta
*.pdb
*.mdb

[Archivos generados por Git]
.DS_Store
Thumbs.db